@media (min-width: 1720px) {
    
}

/* Normal desktop :. */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* Mini desktop :1200px. */
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}
 
/* Tablet :991px. */
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}
 
/* Large mobile :767px. */
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 768px) {
    
}

@media (min-width: 576px) {
    
}
 
/* small mobile :576px. */
@media (max-width: 576px) {
    
}

@media only screen and (max-width: 479px){
    
}